<body>
  <form action='/artist-search-results' method='GET'>
    <input
      type='text'
      name='keyword'
      class='search'
      placeholder='Search here!'
    />
    <input type='submit' name='submit' class='submit' value='Search' />
  </form>
</body>