<body>
  <form action='/artist-search' method='GET'>
    <input type='text' name='text' class='search' placeholder='Search here!' />
    <input type='submit' name='submit' class='submit' value='Search' />
  </form>

</body>